h1  {
  text-align: center;
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 100;
  color: white;
}

h2{
  text-align: center;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 100;
  color: rgb(223, 63, 238);
  }
  
.currently {
  font-size: 50px;
  font-style: oblique;
  font-variant: small-caps;
}

h3  {
  font-family: sans-serif;
  font-size: 45px;
  color: rgb(91, 43, 224);
}

h4  {
  font-family: sans-serif;
  font-size: 45px;
  color: rgb(91, 43, 224);
}

h5  {
  font-family: monospace;
  font-size: 20px;
  color: antiquewhite;
  font-weight: 100;
  text-align: center;
}

h6  {
  font-family: monospace;
  font-size: 14px;
}
body  {
  background-color: black;
  line-height: 20px;
}

.self-portrait  {
  margin: auto;
  float: l;
  width: 50%;
  height: auto;
  display: block;
}

.column-1  {
  text-align: justify;
  width: 33.33%;
  height: 450px;
  float: left;
  column-rule: 4px double cyan;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 2px solid cornflowerblue;
  background-color: rgb(159, 79, 233);
  box-sizing: border-box;
  color: rgb(242, 255, 193);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.column-2  {
  text-align: justify;
  width: 33.33%;
  height: 450px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 2px solid cornflowerblue;
  background-color: rgb(133, 79, 233);
  box-sizing: border-box;
  color: rgb(242, 255, 193);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.space  {
  width: 100%;
  height: 70px;
  float: left;
  color: black;
  text-align: center;
}

.about-box  {
  border: 2px solid rgb(255, 0, 242);
  padding: 30px;
  background-color:cornflowerblue;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 75%;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 11pt;
  color: rgb(57, 0, 110);
}
.experience-box  {
  border: 2px solid rgb(255, 0, 242);
  padding: 20px;
  background-color:rgb(56, 114, 238);
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 75%;
  box-sizing: border-box;
}

.experience-h-box {
  border: 1px solid rgb(255, 0, 221);
  padding: 10px;
  background-color:rgb(56, 114, 238);
  display:inline-block;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 70%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 200;
  font-style: oblique;
  color: rgb(255, 145, 237);
}

.work-box {
  border: 3px solid rgb(255, 0, 242);
  padding: 15px;
  background-color:rgb(234, 180, 255);
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 75%;
  box-sizing: content-box;
  font-family: monospace;
}

.likes-box  {
  border: 2px solid rgb(0, 195, 255);
  padding: 20px;
  background-color: rgb(255, 0, 242);
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 75%;
  box-sizing: border-box;
}

.skills-box {
  border: 3px solid rgb(55, 58, 255);
  padding: 15px;
  background-color:rgb(153, 0, 255);
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 75%;
  box-sizing: content-box;
  font-family: monospace;
}